.alert {
    /*
    Відстань зверху 10px
    Відстань справа 0px
    Відстань знизу 5px
    Відстань зліва 0px
    */
    margin: 10px 0 5px 0;
}

.my-custom-message {
    background-color: #dff0d8;
    border-color: #d0e9c6;
    color: #3c763d;
    padding: 10px;
    margin-bottom: 10px;
}

/* Modal Styles */
.modal-dialog {
    max-width: 600px;
}

.modal-dialog textarea,
.modal-dialog select,
.modal-dialog input,
.modal-dialog .custom-file {
    max-width: initial;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.site-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.site-content {
    flex: 1;
}

.footer {
    background-color: #f8f9fa;
    color: #000;
    text-align: center;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-link {
    margin-left: 10px;
}