{% extends "base.html" %}
{% load static %}

{% block status_message %}
{% if form.errors %}
<div class="alert alert-warning" role="alert">Будь ласка, виправте наступні помилки</div>
{% endif %}
{% endblock %}

{% block content %}
<form action="{% url 'books_add' %}" method="post" enctype="multipart/form-data">
  {% csrf_token %}
  {% for field in form %}
  <div class="form-group">
    {{ field.label_tag }}
    {% if field.name == 'bookmark' or field.name == 'captal' %}
    <input type="color" name="{{ field.name }}" value="{{ field.value }}" class="color-picker"
      {% if field.value %}style="background-color: {{ field.value }};" {% endif %}>
    {% else %}
    {{ field }}
    {% endif %}
  </div>
  {% endfor %}
  <input type="submit" value="Зберегти" name="add_button" class="btn btn-primary" />
  <a href="{% url 'books_list' %}" class="btn btn-link">Скасувати</a>
</form>
{% endblock content %}