{% extends "base.html" %}
{% load static %}
{% block content %}
<form action="{% url 'books_add' %}" method="post" enctype="multipart/form-data">{% csrf_token %}
  <div>
    <label for="name">Назва*</label>
    <input type="text" value="{{ request.POST.name }}" name="name" id="name" />
  </div>
  <div>
    <label for="format">Формат*</label>
    <input type="text" value="{{ request.POST.format }}" name="format" id="format" />
  </div>
  <div>
    <label for="root">Корешок*</label>
    <input type="text" value="{{ request.POST.root }}" name="root" id="root" />
  </div>
  <div>
    <label for="bookmark">Закладка</label>
    <input type="color" value="#FFFFFF" name="bookmark" id="bookmark" />
  </div>
  <div>
    <label for="captal">Каптал</label>
    <input type="color" value="#FFFFFF" name="captal" id="captal" />
  </div>
  <div>
    <label for="photo">Фото</label>
    <input type="file" value="" name="photo" id="photo" />
  </div>
  <div>
    <input type="submit" value="Додати" name="add_button" />
    <button type="submit" name="cancel_button">Скасувати</button>
  </div>
</form>
{% endblock content %}