{% extends 'base.html' %}

{% load static %}
{% block content %}

<div class="row" id="content-columns">
  <div class="col-sm-12" id="content-column">
    <div class="alert alert-warning" role="alert">
      A simple warning alert—check it out!
    </div>
    <div class="d-flex justify-content-start">
      <a class="btn btn-primary me-2" href="{% url 'books_add' %}" role="button">Додати книгу</a>
      <button class="btn btn-success me-2" type="submit">Пошук</button>
      <form class="form-inline">
        <input class="form-control" type="search" placeholder="Пошук" aria-label="Search">
      </form>
    </div>
  </div>
</div>
<br>
<table class="table table-hover">
  <thead>
    <tr>
      <th>№</th>
      <th>Назва</th>
      <th>Фото</th>
      <th>Корешок</th>
      <th>Формат</th>
      <th>Закладка</th>
      <th>Форзац</th>
      <th>Дії</th>
    </tr>
  </thead>
  <tbody>
    {% for book in books %}
    <td>{{ forloop.counter }}</td>
    <td>Назва</td>
    <td><img src="{% static book.image %}" height="35" 2 width="35" class="rounded-circle" /></td>
    <td>Пагінець</td>
    <td>Формат</td>
    <td>Закладка</td>
    <td>Форзац</td>
    <td>
      <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown"
          aria-expanded="false">
          Дія
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
          <li><a class="dropdown-item" href="{% url 'books_edit' 12 %}">Редагувати</a></li>
          <li><a class="dropdown-item" href="{% url 'books_delete' 13 %}">Видалити</a></li>
      </div>
      </div>
    </td>
  </tbody>
  {% endfor %}
</table>

{% endblock content %}